@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/*Обнуление*/
*,
p {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
}

ul,
li {
  margin: 0;
}

/* общие стили */
body {
  color: #ffffff;
  font-family: "Roboto", "Times New Roman", sans-serif;
  font-size: 14px;
  line-height: 16px;
  overflow: hidden;
}

.wrapper {
  width: 1280px;
  height: 721px;
  margin: 0 auto;
  position: relative;
}

.btn {
  background: none;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4e4e4e;
  cursor: pointer;
}

.btn-active {
  background-color: black;
  color: #ffffff;
  border: none;
}

.btn-close {
  position: absolute;
  width: 88px;
  height: 52px;
  border: 2px solid #000000;
  background-color: #ffffff;
  top: 20px;
  right: 20px;
}

.error-item {
  color: red;
}

.info-box {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
}

.info-box-text {
  max-width: 204px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 17px 10px;
  text-align: right;
}

/* first screen */

.iframe {
  display: block;
  border: none;
  width: 1280px;
  height: 721px;
}

.video-container {
  position: relative;
}

.banner {
  background-color: #86d3f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
}

.banner-small {
  text-align: center;
  padding: 20px 10px;
  width: 251px;
  height: 357px;
  margin-left: auto;
  position: absolute;
  top: 200px;
  right: 0;
  opacity: 0;
  transition: opacity 1s ease-out;
}
.show-small-show {
  opacity: 1;
}

.banner-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  padding-bottom: 20px;
}

.banner-code-container {
  width: 126px;
  height: 126px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.banner-code-img {
  display: block;
  width: 100%;
  padding-bottom: 20px;
}

.banner-text {
  padding-bottom: 20px;
}

.banner-small > .btn {
  max-width: 156px;
  padding: 16.5px 67px;
  color: #86d3f4;
}

/* second screen */

.screen-container-back {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-big {
  height: 100%;
  max-width: 381px;
  justify-content: start;
  padding-top: 72px;
}

.banner-big .banner-title {
  padding-bottom: 13px;
  font-size: 26px;
  line-height: 30.47px;
  text-transform: none;
  text-align: center;
}

.banner-number {
  font-size: 32px;
  line-height: 37px;
  text-align: left;
  padding-bottom: 13px;
}

.banner-text {
  line-height: 16.41px;
  text-align: center;
  max-width: 337px;
  padding-bottom: 33px;
}

.btn-banner {
  max-width: 284px;
  height: 52px;
  text-transform: uppercase;
  background: black;
  color: #ffffff;
}
.btn-banner:disabled {
  color: #4e4e4e;
  text-transform: uppercase;
  border: 2px solid #4e4e4e;
  background: none;
}

.btn-banner.item-active,
.btn-banner:disabled.check-box.item-active {
  box-shadow: 2px 2px 2px 1px black;
}

.check-box {
  width: 40px;
  height: 40px;
  border: 2px solid #000000;
  margin-right: 20px;
}

.check-box-checked {
  display: block;
  width: 100%;
}

.check-box.item-active {
  border: 3px solid black;
}

.check-box-container {
  padding-bottom: 25px;
  color: #565656;
  display: flex;
  align-items: center;
}
.error-alert {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
}

.keyboard-container {
  display: block;
  width: 100%;
  max-width: 284px;
  margin: 0 auto;
  padding-bottom: 39px;
}

.keyboard-numbers-line {
  display: flex;
  gap: 10px;
  width: 100%;
  padding-bottom: 10px;
}

.keyboard-numbers-item {
  border: 2px solid black;
  width: 88px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.keyboard-numbers-item.item-active {
  background-color: #000000;
  color: #ffffff;
}

.keyboard-numbers-item-word {
  width: 186px;
}

/* third screen - with no slider */

.banner-title.banner-title-big {
  padding-top: 193px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  padding-bottom: 15px;
}

.banner-text.banner-text-info {
  padding: 0;
}

/* third screen - slider */

.slider {
  height: 721px;
  width: 1280px;
  overflow: hidden;
  position: relative;
  border: 2px solid black;
}

.slider-items {
  height: 721px;
  width: 1280px;
  display: flex;
  position: absolute;
  transition: 1s all ease-in;
}

.slider-item {
  height: 721px;
  width: 1280px;
}

.slider-item img {
  width: 1280px;
}

.nav-buttons-container {
  position: absolute;
  left: 50%;
  bottom: 24px;
  display: flex;
  gap: 5px;
}

.nav-buttons-btn {
  border: none;
  width: 72px;
  height: 36px;
  background: #e8e8e8;
  transform: skew(-30deg, 0);
}

.nav-buttons-btn.item-active {
  background-color: black;
  color: #ffffff;
}
